/***** Author's Custom CSS *****/
:root {
  --darkblue: #14213d;
  --orange: #fca311;
  --lightgray: #e5e5e5;
  --black: #000000;
}

* {
  margin: 0;
}
  
body {
  background-color: black;
  font-size: 16px;
}
  
.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 1rem auto;
}

header {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

h1 {
  color: var(--orange);
  font-size: 4rem;
}

button {
  background-color: var(--orange);
  color: var(--black);
  font-variant: small-caps;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 3px var(--orange);
}

main {
  flex: 1;
}
.book-library {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
}

.book {
  width: 80%;
  background-color: var(--lightgray);
  border-radius: 10px;
  padding: 1rem;
  color: var(--darkblue);
  box-shadow: 0px 0px 5px 5px var(--darkblue);
  line-height: 1.5;
}

.book button {
  background-color: var(--darkblue);
  color: var(--lightgray);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

footer {
  background-color: black;
  text-align: center;
}

h4 {
  color: var(--orange);
  padding: 1rem 0px;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--lightgray);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  clear: both;
}

.modal-close {
  float: right;
  margin-bottom: 1rem;
}

.modal-close:hover {
  cursor: pointer;
  font-weight: bold;
}

label {
  font-variant: small-caps;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

@media (min-width: 700px) {
  .book-library {
      justify-content: space-between;
      width: 85%;
  }
  .book {
      width: 45%;
  }
}

@media (min-width: 1200px) {
  .book {
      width: 30%;
  }
}