/***** Author's Custom CSS *****/
:root {
  --white: rgb(247, 246, 246);
  --gray: lightgray;
  --orange: orange;
  --darkblue: #1f2937;
  --blue: #3882f6;
  --lightblue: #e9fff9;
}

* {
  margin: 0;
}

.hide {
  display: none;
}

.selected {
  border: 2px solid var(--darkblue);
}
  
body {
  background-color: var(--darkblue);
  font-size: 16px;
  font-family: roboto, sans-serif;
}
  
.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 1rem auto;
}

header {
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

h1 {
  color: var(--white);
  font-size: 3rem;
}

button {
  background-color: var(--orange);
  color: var(--darkblue);
  font-variant: small-caps;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 8px;
  border: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

main {
  flex: 1;
  background-color: var(--lightblue);
  display: flex;
  flex-direction: column;
}

.nav-book-library {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--darkblue);
}

.filter-buttons {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
}

.search-box {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.search-box svg {
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}

.search-box input {
  width: 100%;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  background-color: var(--white);
}

.book-library {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.book {
  width: 80%;
  background-color: var(--white);
  border-radius: 10px;
  border-left: 0.5rem solid var(--darkblue);
  padding: 1rem;
  color: var(--darkblue);
  box-shadow: 3px 3px 5px var(--darkblue);
  line-height: 1.5;
}

.book button {
  background-color: var(--blue);
  color: var(--white);
  margin-right: 1rem;
  margin-top: 1rem;
}

footer {
  background-color: var(--darkblue);
  text-align: center;
}

h4 {
  color: var(--white);
  padding: 1rem 0px;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--gray);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  clear: both;
}

.modal-close {
  float: right;
  margin-bottom: 1rem;
}

.modal-close:hover {
  cursor: pointer;
  font-weight: bold;
}

dialog label {
  font-variant: small-caps;
  color: var(--darkblue);
}

dialog input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: var(--white);
}

@media (min-width: 700px) {
  header {
    padding: 3rem;
  }
  h1 {
    font-size: 4rem;
  }
  .book-library {
      justify-content: space-between;
  }
  .book {
      width: 42%;
      border-left: 1rem solid var(--darkblue);
  }
  .nav-book-library {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
  }
  .filter-buttons {
    width: 50%;
    margin: 0;
  }
  .search-box {
    width: 30%;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .book {
      width: 28%;
  }
}